@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src:
    local("Pretendard Bold"),
    url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src:
    local("Pretendard SemiBold"),
    url("./assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src:
    local("Pretendard Medium"),
    url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2");
}
